*{
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

html,
body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

/* global  */
.padding-to-global {
  padding-left: 160px;
  padding-right: 160px;
}

.padding-topbottom-global{
  padding-top: 40px;
  padding-bottom: 40px;
}

/* development section */

#development{
  height: 100vh;
  background-image: url('image/developer-photo.jpg');
  background-size: cover;
  color: white;
}

.navbar-brand{
  font-size: 1.8rem;
}

nav{
  transition: 1s ease;
}

.nav-item{
  margin-right: 15px;
}

.navbar-light .navbar-toggler{
  background-color: white;
}

.dropdown-toggle::after{
  display: none;
}

.btn-outline-primary{
  color: white;
  border-color: white;
}

.btn-outline-primary:hover{
  background-color: white;
  border-color: white;
  color: black;
}

.btn-primary{
  color: black;
  border-color: white;
  background-color: white;
}

.btn-primary:hover{
  background-color: black;
  border-color: black;
  color: white;
}

.hero-container{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

.description{
  margin-top: 20px;
}



.btn-title{
  margin-top: 10px;
  margin-right: 5px;
}

/* services section */
/* #ss */

#services{
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 15vw;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.3rem;
  margin: 15px 0px;
}

.service-icon{
  padding: 40px;
}

/* fact section */
#facts{
  color: white;
  background-image: url('image/fact-photo.jpg');
  background-size: cover;
  padding: 40px 15vw;
/*   max-width: 1440px; */
}

.fact-content{
  text-align: center;
}

.fact-no{
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 600;
}

/* greatwork section */
#greatwork{
  padding-top: 50px;
}

div.col-lg-3.col-md-6.greatwork-col{
  padding: 0;
}

.greatework-image{
  margin-top: 20px;
}

.hide{
  display: none;
}

.active{
  color: #edcf18;
}

#greatwork a{
  cursor: pointer;
}

a.nav-link.greatwork-tab.active:hover{
  color: #edcf18;
}

/* footer section */
#footer{
  background-color: #D3D3D3;
  padding: 30px;
}

.footer-description{
  margin: 0;
}

/* media query */
@media(max-width: 960px){
  .btn-readmore{
    display: none;
  }
}

@media(max-width: 768px){
  .navigation-bar{
    padding-left: 0;
    padding-right: 0;
  }
}

