/* *{
  margin: 0;
  padding: 0;
} */

html,
body
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

/* global  */
.padding-to-global {
  padding-left: 160px;
  padding-right: 160px;
}

.padding-topbottom-global{
  padding-top: 40px;
  padding-bottom: 40px;
}

/* development section */

#development{
  height: 40em;
  background-image: url('image/developer-photo.jpg');
  background-size: cover;
  color: white;
}

.navbar-brand{
  font-size: 1.8rem;
}

.nav-item{
  margin-right: 15px;
}

.dropdown-toggle::after{
  display: none;
}

.btn-outline-primary{
  color: white;
  border-color: white;
}

.btn-outline-primary:hover{
  background-color: white;
  border-color: white;
  color: black;
}

.btn-primary{
  color: black;
  border-color: white;
  background-color: white;
}

.btn-primary:hover{
  background-color: black;
  border-color: black;
  color: white;
}

h1{
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

.description{
  margin-top: 20px;
}

.title-content{
  width: 30%;
  margin: auto;
  padding-top: 15em;
}

.btn-title{
  margin-top: 10px;
  margin-right: 5px;
}

.navbar-light .navbar-toggler{
  background-color: white;
}

/* services section */
/* #ss */

.content-description{
  margin: auto;
}

h2{
  margin: 40px;
  font-size: 1.5rem;
}

h3{
  font-size: 1.3rem;
}

.service-content{
  padding: 30px;
}

.service-icon{
  padding: 40px;
}

/* fact section */
#facts{
  color: white;
  background-image: url(image/fact-photo.jpg);

}

.fact-content{
  /* padding: 50px; */
  /* font-weight: bold; */
}

.fact-no{
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 600;
}

/* greatwork section */

div.col-lg-3.col-md-6.greatwork-col{
  padding: 0;
}

.greatework-image{
  margin-top: 20px;
}

.hide{
  display: none;
}

.active{
  color: #edcf18;
}

a.nav-link.greatwork-tab.active:hover{
  color: #edcf18;
}

/* footer section */
#footer{
  background-color: #D3D3D3;
  padding: 30px;
}

.footer-description{
  margin: 0;
}

/* media query */
@media(max-width: 1024px){

  h1{
      margin-left: -1em;
  }
}

@media(max-width: 960px){
  .btn-readmore{
    display: none;
  }

  div.title-content{
    width: 50%;
  }

  h1{
      margin-left: -0.4em;
  }
}

@media(max-width: 768px){
  h1{
      margin-left: -1.2em;
  }

  div.title-content{
    width: 50%;
  }

  .navigation-bar{
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 576px){
  div h1{
    margin-left: -1em;
    letter-spacing: 0;
  }

  div.title-content{
    width: 50%;
  }

  .padding-to-global {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 550px){
  div h1{
    font-size: 2em;
    margin-left: -0.1em;
  }

  div.title-content{
    width: 50%;
  }
}

@media(max-width: 290px){
  div h1{
    font-size: 1.5em;
    margin-left: -0.2em;
  }

  div.title-content{
    width: 50%;
  }
}
